/*fonts*/
@font-face {
    font-family: bevan;
    src: url(../fonts/bevan/bevan_regular.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: bevan;
    src: url(../fonts/bevan/bevan_italic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: koho_light;
    src: url(../fonts/koho/koho_light.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: koho;
    src: url(../fonts/koho/koho_bold.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: koho_semibold;
    src: url(../fonts/koho/koho_semibold.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/*colors*/
* {
    --primary-surface: #D4E7F8;
    --primary-text: #20254F;
    --main-background: #D4E7F8;
    --textbox-background: #5E829C;
    --footer-background: #5E829C;
    --heading-text: #20254F;
    --footer-background: #E09C9C;
    --other: #f5f5f5;
    background-color: var(--primary-surface);
    color: var(--primary-text);
}

/*hamburger*/
.navbar,
.nav-container li {
    list-style: none;
}
 
.navbar,
.nav-container a {
    text-decoration: none;
    color: #20254F;
    line-height: 75px;
}
  
.nav-container a:hover{
    color: #E09C9C;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}


.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #20254F;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
}
  
.navbar .menu-items {
    padding-top: 200px;
    height: 80vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/*headers*/ 
.professional_header,
.personal_header,
.digital_media_header,
.paintings_header,
.photography_header {
    font-family: bevan;
    font-size: large;
    text-align: left;
}

/*images*/
.image_design,
.image_piece,
.image_painting,
.image_photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 7%;
}

/*captions*/
.caption {
    font-family: koho_semibold;
    text-align: center;
}

.caption_italic,
.contact_text {
    text-align: center;
}

/*main*/
main {
    flex: 1;
}

/*body*/
body {
    font-family: koho;
    display: flex;
    flex-direction: column;
    min-height: 130vh;
}

/*home*/
h1 {
    background-color: var(--textbox-background);
    border-radius: 25px;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: bevan;
}

.home_text {
    font-family: bevan;
    font-size: medium;
    text-align: center;
}

.image_1 {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 5%;
   padding-bottom: 5%;
   width: 85%;
}

/*about*/
.professional {
    font-family: bevan;
    font-size: x-large;
    text-align: center;
    padding-top: 30%;
    padding-bottom: 20%;
}

.personal {
    font-family: bevan;
    font-size: x-large;
    text-align: center;
    padding-top: 5%;
}

.professional a:hover,
.personal a:hover {
    color: #E09C9C;
}

.image_about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

/*resume*/
.section {
    font-size: large;
    line-height: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.list {
    margin-top: 0%;
    font-size: medium;
}

.title {
    margin-bottom: 2%;
}

/*portfolio*/
.portfolio_option {
    font-family: bevan;
    font-size: x-large;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 10%;
}

.portfolio_option a:hover {
    color:#E09C9C
}

/*digital media*/
.digital_media_header3 {
    font-family: koho;
    font-size: medium;
    text-align: left;
    line-height: 0%;
}

.digital_media_header {
    line-height: 0%
}


.image_design:hover {
    opacity: 0.5
}

/*contact*/
.textbox {
    font-family: koho_light;
    background-color: var(--other);
    height: 25px;
    width: 30%;
}

.textbox_comments {
    font-family: koho_light;
    background-color: var(--other);
    height: 150px;
    width: 30%;
}

/*button*/
.button {
    background-color: #E09C9C;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: auto;
    font-family: bevan;
    margin-top: 10px;
}

.top_button {
    background-color: #E09C9C;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    margin-bottom: 0px;
    text-align: center;
}

/*footer*/
.footer {
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: #E09C9C;
    font-family: koho;
}

.footer_text {
    background-color: #E09C9C;
    font-family: koho_light;
    text-decoration: none;
}
